includeConfig "${projectDir}/configs/base.config"
includeConfig "${projectDir}/configs/containers.config"

profiles {
    docker {
        includeConfig "${projectDir}/configs/docker.config"
    }
    singularity {
        includeConfig "${projectDir}/configs/singularity.config"
    }
    hg19 {
        includeConfig "${projectDir}/configs/hg19.config"
    }
    chpc {
        includeConfig "${projectDir}/configs/chpc.config"
    }
    ucthpc {
        includeConfig "${projectDir}/configs/ucthpc.config"
    }
}

