params {
    baseQC {
	    referenceSequence = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg19/bigZips/hg19.fa.gz'
    }
    phase {
        geneticMapsArchive = 'http://bochet.gcc.biostat.washington.edu/beagle/genetic_maps/plink.GRCh37.map.zip'
        referencePanels = [
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr1.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr2.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr3.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr4.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr5.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr6.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr7.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr8.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr9.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr10.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr11.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr12.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr13.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr14.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr15.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr16.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr17.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr18.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr19.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr20.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr21.1kg.phase3.v5a.vcf.gz',
            'http://bochet.gcc.biostat.washington.edu/beagle/1000_Genomes_phase3_v5a/b37.vcf/chr22.1kg.phase3.v5a.vcf.gz']
    }
}

